<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Letsgodaengdaeng"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="app.BuildConfig.MAP_KEY" />
        <activity
            android:name=".view.fragment.walk.WalkMapActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.fragment.profile.InfochangeActivity"
            android:exported="false" />
        <activity
            android:name=".view.fragment.home.SeoulGilInfoActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.fragment.home.VeterinaryActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.activity.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".view.fragment.profile.MyreviewActivity"
            android:exported="false" />
        <activity
            android:name=".view.fragment.profile.MyCommentActivity"
            android:exported="false" />
        <activity
            android:name=".view.fragment.home.AnimalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.SeouldataActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.UpdateCommentActivity"
            android:exported="false" />
        <activity
            android:name=".view.fragment.profile.InfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.fragment.profile.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".view.fragment.profile.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.WriteActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.SignupUserActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.SignupPuppyActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>